<!DOCTYPE html>

<html>

<head>
    <title>Page d'accueil</title>
</head>

<body>

  <div class="title">
    <h1>Welcome !</h1>
    </div>

  <p> Please tell me how you feel, I will tell you what to eat !</p>

  <div style="display: inline-block;" class="container">
		<div class="image">
			<img src="votre-image.jpg" alt="Votre image">
		</div>
	
		<div style="display: inline-block;" class="block">
			<img src="https://fr.freepik.com/photos-gratuite/etudiante-peau-foncee-reussie-heureuse-obtenir-bourse-serre-poings-accomplit-son-objectif_11489320.htm#query=joie&position=0&from_view=keyword&track=sph" alt="joy">
		</div>
		<div class="block">
			<img src="https://pixabay.com/fr/photos/femme-pleurs-des-larmes-triste-1867127/" alt="sad">
		</div>
		<div class="block">
			<img src="https://pixabay.com/fr/photos/personne-humain-fille-enfant-1205140/" alt="fear">
		</div>
		<div class="block">
			<img src="https://pixabay.com/fr/photos/homme-masculin-en-col%c3%a8re-visage-921004/" alt="anger">
		</div>

</body>

</html>