<!-- <html>
<head>
    <title>Page d'accueil</title>
    
</head>
<body>
  <h1 >Welcome to the super site Food NLP! Et voilou la modification de paméla</h1>
  <form action="{{ url_for('result') }}" method="post">
    <label for="value">Value:</label>
    <input type="text" name="value" id="value">
    <button type="submit">Translate</button>
  </form>
</body>
</html> -->

<!DOCTYPE html>

<html>

<head>
    <title>Page d'accueil</title>
</head>

<body>

  <div class="title">
    <h1>Welcome !</h1>
    </div>

  <p> Please tell me how you feel, I will tell you what to eat !</p>

  <div style="display: inline-block;" class="container">
		
	<div class="image">
			<img src="https://storage.googleapis.com/images_foodnlp/food.jpg" class="left-image">
	</div>
	
	<div style="float:right" class="block">
			<a href="/result?value=Happy"><img width=400px src="https://storage.googleapis.com/images_foodnlp/joy.jpg" class="right-image"></a>
			<a href="/result?value=Depressed"><img width=400pw src="https://storage.googleapis.com/images_foodnlp/sad.jpg" class="right-image"></a>
			<a href="/result?value=Apprehension"><img width=400px src="https://storage.googleapis.com/images_foodnlp/fear.jpg" class="right-image"></a>
			<a href="/result?value=Angry"><img width=400px src="https://storage.googleapis.com/images_foodnlp/anger.jpg" class="right-image"></a>	
	</div> 

</body>

</html>